@use 'variable';

.header{
    background-color:variable.$corFund;
    position: sticky;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1;

    &--is-hidden {
        background-color: transparent;

        .header {
            &__logo, &__links__item:first-of-type {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    
    
    &__container{
        padding: 0 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            display: block;
        }
        
    }
    &__logo{
        width: 100px;
    }
    &__links{
        display: flex;
        @media (max-width: 768px) {
            display: inline-block;
        }

    
        &__item{
            cursor: pointer;
            margin: 0 5px;

            @media (max-width: 768px) {
                margin: 25px 0;
            }
        }
    }
    .botao {
        padding: 12px 38px;
        color: variable.$corText;
        transition: .5s;
        border: 3px solid #fff;
        border-radius: 5px;

        &:hover{
            color: #000000;
            background-color: variable.$corText;
            transform: .5s;
        }
    }
    
    
}